XMLSchema/insert.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.create.org"
			xmlns="http://www.create.org"
			elementFormDefault="qualified">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Database" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Database">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Table" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
        <xsd:attribute name="name" type="xsd:string" use="required"/> 
	</xsd:element>

    <xsd:element name="Table">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Insert" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:element>

    <xsd:element name="Insert">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Column" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

    <xsd:element name="Column" type="xsd:string">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:element>

</xsd:schema>